<!DOCTYPE html>
<html>
    <head>
        <title>Page Title</title>
    </head>
    

     
<script>

var name = prompt("Please enter your name! 😬");
if(name){
alert("Thanks " + name + " for visiting😁");
}
else{
    alert ("Thanks for visiting😁");
}


function me(){
    var a = document.getElementById("weight").value;
    var b = document.getElementById("height").value;
    var c = document.getElementById("age").value;
    var d = document.getElementById("select").value;
    
    var ki = 66 + (13.7*a) + (5*b) - (6.8*c);
    var re = 655 + (9.6*a) + (1.8*b) - (4.7*c);
    var new1 = ki.toFixed(2);
    var new2 = re.toFixed(2);
    var maleBmr = "Your BMR is " + new1;
    var femaleBmr = "Your BMR is " + new2;
    
    if(d == "Male"){
        document.getElementById("result").innerHTML=(maleBmr);
    }
    
    
    
    
    
    
    else{
        document.getElementById("result").innerHTML=(femaleBmr);
    }
}

function a(){
if(name){
    alert("Sorry, " + name + "! These sections are not made.I am a beginner.Forgive my mistakes.");
    }
    else{
        alert("Sorry! These sections are not made.I am a beginner.Forgive my mistakes.");
    }
}

</script>

     
    <body>
    
<style>

body{
    margin:10px;
    
  
}
ul{
    list-style:none;
    display:flex;
    font-size:18px;
    font-weight:bold;
    margin-top:0px;
    padding-top:3px;
    padding-bottom:3px;
}
li{
 margin:5px;
 
 padding :2px;
}
nav{
    border-bottom:3px solid #af40ff;
    height:50px;
    margin-bottom:20px;
   
}
li:hover{
    color:#af40ff;
}
 
 span{
                 color:#af40ff;
 }
.bmr{
                background:linear-gradient(to right, white, #b9b9b9);

                padding:10px;
                border-right:4px solid black;
                
}
 img{
                 margin-top:4px;
 width:100%;
 height:100%;
 
 
 }
. pic{
                margin-left:50px;
                margin-top:10px;
                
}
.measures{
                margin-top:0px;
                
                border-left:4px solid black;
             padding:10px;
             
                background:linear-gradient(to right, #b9b9b9, white);
}

#weight, #age{
                border:2px solid black;
                width:90%;
                height:28px;
                margin-bottom:6px;
                background:linear-gradient(to right, white, #b9b9b9);
}
button{
                background-color:#af40ff;
                color:white;
                border:2px solid #af40ff;
                font-weight:bold;
                width:314px;
                height:31px;
                font-size:16px;
        
}
select{
            width:314px;
            height:32px;
                border:2px solid black;
                margin-bottom:6px;
                background:linear-gradient(to right, #b9b9b9, white);
}

sub{
                font-size:12px;
                color:#af40ff;
}
#result{
                font-weight:bold;
                font-size:20px;
                color:#af40ff;
}




footer{
    background-color:#af40ff;
    width:100%;
    height:350px;
    margin:0px;
    list-style:none;
}



.last{
    margin-top:10px;
}
a{
    text-decoration:none;
    color:black;
}
.fb{
    width:20px;
    height:20px;
    border-radius:10px;
}
.yt{
    width:20px;
    height:relative;
}
#height{
    border:2px solid black;
                width:90%;
                height:28px;
                margin-bottom:6px;
                background:linear-gradient(to right, #b9b9b9, white);
}
.oo:hover{
    color:white;
}
</style>
    
        <header>
            
           <nav>
               <ul>
                   <li onclick="return a()">Home</li>
                   <li onclick="return a()">Services</li>
                   <li onclick="return a()">About</li>
                   <li onclick="return a()">Contact</li>
                   
               </ul>
           </nav> 
            
        </header>
        
        <div class="bmr">
                        <h2>What is <span>BMR</span></h2>
             <p>Basal metabolic rate (BMR) is often used interchangeably with resting metabolic rate (RMR). While BMR is a minimum number of calories required for basic functions at rest, RMR — also called resting energy expenditure (REE) — is the number of calories that your body burns while it’s at rest.

Although BMR and RMR slightly differ from each other, your RMR should be an accurate estimate of your BMR.

</p>
        </div>
        <br><br><br>

        
        <section>
                        
                        <div class="pic"><img alt="BMR Photo" src="https://drive.google.com/uc?id=1FQqaZVzT4kdlbSqaYR2fpMJ5HAo_mo9c">
                        </div>
              <br><br><br>          
                        
                        <div class="measures">
                                        <h2>Measurements of <span>BMR</span></h2>
<b>Women:</b><br>
BMR = 655 + (9.6 × weight in kg) + (1.8 × height in cm) – (4.7 × age in years)<br><br>

<b>Men:</b><br>

BMR = 66 + (13.7 × weight in kg) + (5 × height in cm) – (6.8 × age in years)


</div>
                        
                       <br><br><br><br>
                
        
        
        </section>
        <section class="main">
        <h2 class="calculator">BMR Calculator<sub>Calculate now!</sub></h2>
        
        <select id="select">
            <option>Select one</option>
            <option>Male</option>
            <option>Female</option>
        </select><br>
        
        <input type="number" id="weight" value="" placeholder="weight(kg)"><br>
        <input type="number" id="height" value="" placeholder="height(cm)"><br>
        
        <input type="number" id="age" value="" placeholder="age(years)"><br>
        <button onclick="return me()">Calculate</button>
        <br><br>
     <div align="center" id="result"></div>
        
        
        
        </section><br><br><br>
        
        <br><br><br>
        <br><br><br>
        <h2>Do <span>Exercise</span> and be healthy!</h2>
        <img src="https://drive.google.com/uc?id=1GKPTaq_XXm6ReVhEs0avEiVU8DRatbm-">
        
        
        
        
        <br><br><br>
        
        
        <footer>
        <div align="center" class="last">
        <br>
        <h4>Explore</h4>
            <li class="oo" onclick="return a()">Terms and Conditions</li>
            <li class="oo" onclick="return a()">About us</li>
            <br>
            <h4>Contact</h4>
            <li><a href="https://www.facebook.com/abdullahilazme"><img class="fb" alt="Facebook" src="https://drive.google.com/uc?id=1Fj9vOOb9tkVJVU_va3zmdqjHmtAEYK2B"></li>
                
                
                
             <li><a href="https://youtube.com/channel/UC-i4YWliQ2ftFav7QKrMtiw"><img class="yt" alt="Youtube" src="https://drive.google.com/uc?id=1Fy6l09d5319g5-2fLSJA0Y4LpGehKFEQ"></li>
             <br>
             © copyright 2022
            </div>
        </footer>
        
    </body>
    
</html>


